@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

ul,
li {
  list-style: none;
}

a,
a:link {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

button {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px; /* Make the scrollbar thinner */
  height: 8px; /* Make the scrollbar thinner */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 10px; /* Make the scrollbar thumb thinner */
  height: 10px; /* Make the scrollbar thumb thinner */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
  background-color: #02000b; /* Change the color of the scrollbar thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
