.detail_section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.detail_wrapper {
  max-width: 1500px;

  background: linear-gradient(45deg, #434343, #1b1b1b);
  padding: 2rem;
}

.detail_container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 2.5fr 1fr;
  column-gap: 2rem;
}

.info_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-right: 2rem;
}

.info_container h1 {
  font-size: 2.5rem;
  text-align: center;
}

.info_container h2 {
  background: linear-gradient(to right, #d22064, #61668a);
  color: white;
  padding: 20px;
  border-radius: 12px;
  padding: 1rem;
}

.info_heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info_heading img {
  width: 2.2rem;
  height: 2.2rem;
}

.info_title {
  font-size: 2rem;
}

.flex_info_wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  column-gap: 2rem;
}

.list_container {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1.2rem;
  background-color: #92929282;
  -webkit-box-shadow: inset 0px 0px 43px 2px rgba(0, 0, 0, 0.562);
  -moz-box-shadow: inset 0px 0px 43px 2px rgba(0, 0, 0, 0.562);
  box-shadow: inset 0px 0px 43px 2px rgba(0, 0, 0, 0.562);
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  height: 100%;
}

.list li {
  font-size: 1.4rem;
}

.short_info_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  border: 2px solid #545a81;
  -webkit-box-shadow: inset 0px 0px 168px -56px rgba(15, 15, 15, 1);
  -moz-box-shadow: inset 0px 0px 168px -56px rgba(15, 15, 15, 1);
  box-shadow: inset 0px 0px 168px -56px rgba(15, 15, 15, 1);
  overflow: hidden;
}

p {
  font-size: 1.8rem;
  font-weight: 600;
}

.text_center {
  text-align: center;
}

.description_container {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1 / -1;
}

.description_paragraph {
  justify-self: center;
  border-radius: 10px;
  height: auto;
  width: 100%;
  max-height: 10rem;
  font-weight: 400;
  font-size: 1.4rem;
  overflow-y: scroll;
  padding: 0.8rem;
}
