.filter {
  position: relative;
}

.filterBtn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(45deg, #da0056, #a50243);
  color: inherit;
  letter-spacing: 2px;
  gap: 0.5rem;
  border: 2px solid #3d3024;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.filterBtn:hover {
  background: linear-gradient(45deg, #ff009f, #c0117d);
  scale: 1.03;
  transition: all 0.1s;
  font-weight: 700;
}

.filterBtn img {
  width: 2.8rem;
  height: 2.8rem;
}

.filterBtn:hover img {
  background-color: #e20b48;
  border: 2px solid #e20b48b7;
  border-radius: 9999px;
  padding: 0.2rem;
}

@media screen and (max-width: 650px) {
  .filterBtn {
    justify-content: center;
    width: 100%;
  }
}