.card {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 28rem;
  width: 18rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right bottom, #de1440, #b10a2e);
  border: 2px solid black;
  border-radius: 18px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 36px -5px rgba(0, 0, 0, 0.917);
  -moz-box-shadow: 0px 2px 36px -5px rgba(0, 0, 0, 0.917);
  box-shadow: 0px 2px 36px -5px rgba(0, 0, 0, 0.917);
}

.card:hover {
  transform: scale(1.05);
}

.header_card {
  position: relative;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
}

.header_card h2 {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: 1.2px;
}

.header_card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.listGenres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  text-align: center;
  overflow-y: scroll;
  padding: 0 0.8rem;
}

.listGenres li {
  background-color: black;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
}
