.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3.2rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

.no_matches{
  font-size: 3rem;
  font-weight: 600;
}