.edit_modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #0000005f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form_wrapper {
  height: 95%;
  width: 50%;
  max-width: 70rem;
  padding: 1rem 3rem;
  border: 1px solid black;
  background-color: rgb(20, 20, 20);
  overflow: auto;
  position: relative;
  max-height: 100rem;
}

.close_modal{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 4rem;
  background-color: black;
  border: none;
  font-size: 2rem;
  color: white;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(100, 94, 94);
}

.close_modal:hover{
  background-color: #cf0b2c;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  gap: 2rem;
}

.form h1 {
  background: linear-gradient(#fd4665, #6e052d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 1000;
  letter-spacing: 3px;
  text-align: center;
}

.multiple_select_container {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.max_options_span {
  position: absolute;
  right: 0;
  bottom: -8px;
}

.grid_two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 2rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input_container input,
.input_container textarea {
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: inherit;
  background-color: #fbf2f2e5;
  border-radius: 8px;
  -webkit-box-shadow: 7px 11px 37px -1px rgb(82, 4, 40);
  -moz-box-shadow: 7px 11px 37px -1px rgb(82, 4, 40);
  box-shadow: 3px 5px 10px -1px rgb(82, 4, 40);
}

.input_container input:focus,
.input_container textarea:focus {
  border: 3px solid #c51a45;
}

.input_container label {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(#e82626, #0e0218);
  text-shadow: 1px 1px 1px rgba(226, 108, 108, 0.849);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.select {
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #01000a9f;
  color: white;
  text-align: center;
}

.select option {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.error {
  display: block;
  color: red;
  font-size: 1.4rem;
  margin: 0.2rem 0;
}

.error_center {
  text-align: center;
}

.submitBtn {
  background-color: #000000;
  padding: 1rem 2rem;
  margin: 1rem auto;
  color: white;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.submitBtn:hover{
  transform: scale(1.05);
  background-color: #c51a45;
  border: 2px solid #cf0b2c;
  transition: all 0.1s;
}
