.container {
  display: flex;
  gap: 1.2rem;
}

label {
  margin-right: 1rem;
}

.select {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: #e7c381;
  border: 2px solid #000000;
  border-radius: 8px;
}
