.search{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    margin: 1.5rem 0;
}

.search label{
    font-size: 3.4rem;
    font-weight: 1000;
    letter-spacing: 2px;
    text-shadow: 0px -2px 10px rgba(0, 0, 0, 0.753);
    color: #F2DEA0;
}

.bar{
    width: fit-content;
}

.input,.searchBtn{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    height: 4.8rem;
    font-family: inherit;
    border: none;
    border: 1px solid #311f0f;
    font-family: inherit;
}

.input{
    border-radius: 999px 0 0 999px;
    width: 30rem;
    background-color: #917862;
    color: inherit;
    outline: none;
}

.input::placeholder{
    color: inherit;
}

.input:hover{
    border-color: #d9a13b;
}

.searchBtn{
    border-radius: 0 999px 999px 0;
    background-color: #27190c;
    color: inherit;
    font-weight: 700;
}

.searchBtn:hover{
    background: linear-gradient(to right, #d9a13b, #e1b462);
    color: #27190c;
}