.container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.select {
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: #fdedf4;
  border: 2px solid #000000;
  border-radius: 8px;
  text-align: center;
  width: 12rem;
}

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 780px) {
  .container {
    display: flex;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / -1;
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
  }

  .select {
    width: 100%;
    padding: 1rem 0;
  }

  .label {
    text-align: center;
    margin-right: 0;
  }
}


@media screen and (max-width: 468px) {
  .container {
    flex-direction: column;
  }

  .container div {
    width: 100%;
  }

  .select {
    width: 100%;
    padding: 1rem 0;
  }
}
