.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.9rem;
  z-index: 999;
  width: max-content;
  background: linear-gradient(to top, #0e1141, #090d48, #00021e);
  border: 3px solid #02042b;
  padding: 2rem 2.4rem;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.917);
  -moz-box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.917);
  box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.917);
}

.filters_grid {
  display: grid;
  width: max-content;
  grid-template-columns: 70% 30%;
  -webkit-box-shadow: inset 0px 0px 168px -97px rgb(11, 11, 11);
  -moz-box-shadow: inset 0px 0px 168px -97px rgb(11, 11, 11);
  box-shadow: inset 0px 0px 168px -97px rgb(11, 11, 11);
  overflow: hidden;
  border-radius: 20px;
}

.genres_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}

.filter_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter_column:nth-child(1) {
  border-right: 3px solid #060932;
}

.filter_column h3 {
  font-size: 1.8rem;
  font-weight: 1000;
  letter-spacing: 8px;
  background: linear-gradient(to bottom, #0b2d3f, #08172d);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.origin_list .list_item {
  text-transform: capitalize;
}

.origin_list .list_item:nth-child(2) {
  text-transform: uppercase;
}

.list_item {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.3rem;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.filterBtn {
  margin: 2rem auto 0 auto;
  background: linear-gradient(to bottom, #e20b2b, #c60935);
  width: 40%;
  color: white;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 1.4rem 1rem;
  border: 3px solid #4b030e;
  border-radius: 30px;
}

.filterBtn:hover {
  background: linear-gradient(45deg, #ff009f, #c0117d);
  scale: 1.05;
  transition: all 0.1s;
  border-color: #b80373;
}
