.header{
  background-color: rgba(59, 62, 84, 0.98);
  box-shadow: 0px 13px 43px -5px rgba(0, 0, 0, 0.806);
}

.nav {
  max-width: 2000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heading img {
  width: 4rem;
  height: 4rem;
}

.heading h1 {
  font-size: 2.8rem;
}

.toggleBtn {
  display: none;
  z-index: 999;
}

.linkList {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.linkList.open {
  position: fixed;
  z-index: 900;
  right: 0;
  top: 0;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: rgba(33, 5, 29, 0.93);
  width: 100%;
  margin: 0;
  gap: 1rem;
}

.toggleBtn.open {
  position: fixed;
  top: 4.24rem;
  right: 3rem;
}

.linkList li {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 678px) {
  .linkList {
    display: none;
  }

  .heading img {
    display: none;
  }

  .toggleBtn {
    display: block;
    width: 52px;
    height: 52px;
    background-color: transparent;
  }

  .toggleBtn img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 468px) {
  .nav{
    padding: 2.5rem 10px;
  }

  .toggleBtn.open {
    right: 10px;
  }
}
