.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25000f;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.51);
  width: 90%;
  margin: 4rem auto 1.8rem auto;
  font-weight: 600;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  gap: 2rem;
}

.clearBtn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(45deg, #e20b2b, #dd0a3b);
  color: inherit;
  letter-spacing: 1px;
  gap: 0.5rem;
  border: 2px solid #3d3024;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.clearBtn:hover {
  background: linear-gradient(45deg, #ff009f, #c0117d);
  scale: 1.05;
  transition: all 0.1s;
}

.clearBtn img {
  width: 4rem;
  height: 4rem;
}

.clearBtn:hover img {
  background-color: #e20b48;
  border: 2px solid #e20b48b7;
  border-radius: 9999px;
}


@media screen and (max-width: 1200px) {
  .clearBtn {
    width: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .clearBtn {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}