.filter {
  position: relative;
}

.filterBtn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(to right, #251a0f, #302112);
  color: inherit;
  letter-spacing: 2px;
  gap: 0.5rem;
  border: 2px solid #3d3024;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
}

.filterBtn:hover {
  background: linear-gradient(to right, #d9a13b, #e1b462);
  color: #27190c;
  fill: #1f140a;
  scale: 1.03;
  transition: all 0.1s;
  font-weight: 800;
}

.filterBtn img {
  width: 2.8rem;
  height: 2.8rem;
}

.filterBtn:hover img {
  background-color: #1f140a;
  border-radius: 9999px;
  padding: 0.2rem;
}
