.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 8rem;
  letter-spacing: 4px;
}

.btn {
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 5rem;
  border-radius: 20px;
}
