.home_section {
  background: url('../../assets/img/app-background.webp');
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media screen and (max-width: 468px) {
  .home_section {
    padding: 10px;
  }
}
